* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 16px 24px 80px;
}

h2 {
  padding-top: 1.2rem;
  margin-top: 7.2rem;
}

a {
  color: #074E8C;
  text-decoration: none;
  border-bottom: 2px solid;
  padding-bottom: 2px;
  transition: 200ms;
}

a:hover {
  color: #A42769;
}


@media screen and (max-width: 479px) {
  h1 {
    font-size: 4.6rem !important;
  }

  h2 {
    font-size: 3.6rem !important;
  }
}

@media screen and (min-width: 480px) {
  body {
    padding: 80px;
  }
}
